.info-conteiner{
    padding: 65px 10px 0px 10px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.information{
    display: block;
    flex-shrink: 1;
    max-width: 190px;
    height: 100px;
    border: 3px solid black;
    font-size: 15px;
    padding: 2px 18px;
    overflow: auto;
}
.information::-webkit-scrollbar {
    width: 0;
  }
.information > p{
    margin-bottom: 1px;
}
.form-wrap{
    flex-shrink: 1;
    max-width: 190px;
}
.form-choose{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    max-width: 190px;
    margin: 5px 0px;
}

.input-number{
    padding: 4px 4px;
    font-size: 15px;
    flex-shrink: 1;
    max-width: 157px;
    min-width: 140px;
}
.btn{
    border: 0;
    border-radius: 5px;
    background: grey;
    color: #fff;
    padding: 4px 4px;
    font-size: 15px;
    flex: 0 1 15%;
}
.btn:hover{
    background: white;
    color: black;
}
